body {
    background-image: linear-gradient(to right, #1C0C5B, #C996CC);
   
 }
 
 .question{
     height: 25%;
     width: 75%;
     margin-top: 5%;
     margin-bottom: 5%;
     border: 1px solid black;
 }
 
 h1{
   font-size: 2em;
   font-family: Garamond, serif;
   text-transform: uppercase;
   color: #d4d7d9;
 }
 
 hr {
   color: #79b2f7;
 }
 
 p {
   color: #d4d7d9;
   font-family: Lucida Console, Monospace;
   font-size: 1.5em;
 }
 
 
 .feild{
     height: 2em;
     width: 75%;
     margin: 0.5em;
     font-size: 1em;
     text-align: center;
 }
 
 .btn{
     height: 2.5em;
     width: 8em;
     margin: 5%;
     border-radius: 15px;
     outline: none;
     border: none;
 }